/* ---------- GLOBAL STYLES ---------- */

html{
scroll-behavior:smooth;
}

section{
scroll-margin-top:80px;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

section h2{
font-size:34px;
margin-bottom:25px;
position:relative;
display:inline-block;
font-weight:600;
position:relative;
padding-left:20px;
}

header{
position:sticky;
top:0;
z-index:1000;
}

/*
*** PROFESSOR SAL HERE IS WHERE I USED THE FONT-FACE CSS FOR THE EXTRA POINTS!!! ***
*/

@font-face{
font-family:"SpaceGrotesk";
src:url("../fonts/SpaceGrotesk-Bold.ttf") format("truetype");
font-weight:normal;
}

h1,h2,h3{
font-family:"SpaceGrotesk", sans-serif;
}







body{
font-family: "Segoe UI", Arial, sans-serif;
background: linear-gradient(135deg,#0b132b,#020617);
color:#ffffff;
line-height:1.6;
}



main{
max-width:1200px;
margin:auto;
padding:60px 20px;
}

nav{
display:flex;
gap:30px;
justify-content:center;
align-items:center;
margin-top:10px;
}

nav a.active{
color:#c77dff;
}

nav a:hover{
color:#c77dff;
text-shadow:0 0 8px #9d4edd;
}

nav a{
position:relative;
}

header h1{
font-size:22px;
font-weight:600;

background:linear-gradient(90deg,#ffffff,#c77dff);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}



nav a::after{
content:"";
position:absolute;
left:0;
bottom:-5px;
width:0%;
height:2px;
background:#9d4edd;
transition:0.3s;
}

nav a:hover::after{
width:100%;
}

h1,h2,h3{
font-weight:600;
}

p{
color:#cbd5e1;
}

/* ---------- HEADER ---------- */

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#020617;
border-bottom:1px solid #1c2541;
}

header h1{
font-size:24px;
color:#c77dff;
}

nav a{
margin-left:20px;
text-decoration:none;
color:#cbd5e1;
font-weight:500;
transition:0.3s;
}

nav a:hover{
color:#c77dff;
}

/* ---------- HERO SECTION ---------- */

.hero{
display:flex;
align-items:center;
justify-content:space-between;
gap:60px;
margin-top:40px;
}

.hero-text{
flex:1;
}

.hero-text h2{
font-size:36px;
margin-bottom:10px;
}

.hero-text h3{
color:#c77dff;
margin-bottom:15px;
}

.hero-text p{
max-width:500px;
}

.hero-image{
flex:1;
display:flex;
justify-content:center;
}

.hero-image img{
width:280px;
border:3px solid #9d4edd;
padding:8px;
box-shadow:0 0 18px #9d4edd;
border-radius:6px;
}

.profile-caption{
text-align:center;
margin-top:15px;
}

.profile-caption h4{

margin:0;
font-size:20px;

background:linear-gradient(90deg,#ffffff,#c77dff);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

}

.profile-caption p{

margin-top:5px;
font-size:14px;

color:#94a3b8;

}

.hero-image{
display:flex;
flex-direction:column;
align-items:center;
text-align:center;
}

/* ---------- Resume Button ---------- */  

.cta-button{
display:inline-block;
margin-top:10px;
padding:12px 22px;
border:2px solid #9d4edd;
color:#c77dff;
text-decoration:none;
border-radius:5px;
font-weight:600;
transition:0.3s;

}

.cta-button:hover{
background:#9d4edd;
color:white;
box-shadow:0 0 12px #9d4edd;
}

/* ---------- SKILLS ---------- */

.skills{
margin-top:80px;
}

.skills h2{
margin-bottom:20px;
}

.skills-grid{
display:flex;
flex-wrap:wrap;
gap:15px;
}

.skill-card{
background:#1c2541;
padding:12px 22px;
border-radius:6px;
color:#c77dff;
border:1px solid #9d4edd;
font-weight:600;
transition:0.2s;
}

.skill-card:hover{
background:#9d4edd;
color:white;
}

/* ---------- Footer ---------- */

footer{
text-align:center;
padding:30px;
margin-top:80px;
border-top:1px solid #1c2541;
color:#94a3b8;
}

/* ---------- Responsive Design ---------- */
@media (max-width:900px){

.hero{
flex-direction:column;
text-align:center;
}

.hero-text p{
margin:auto;
}

nav{
display:flex;
flex-wrap:wrap;
justify-content:center;
margin-top:10px;
}

nav a{
margin:10px;
}

}

/* ---------- PROJECTS SECTION ---------- */

.projects{
margin-top:80px;
}



.projects-grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:30px;
}

.project-card{
background:#1c2541;
padding:20px;
border-radius:8px;
border:1px solid #1c2541;
transition:0.3s;
display:flex;
flex-direction:column;
overflow:hidden;
}

.project-card::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;

background:linear-gradient(
120deg,
transparent 40%,
#c77dff 50%,
transparent 60%
);

background-size:200% 200%;
background-position:-200% 0;

opacity:0;
transition:opacity 0.3s;

pointer-events:none;
}

.project-card *{
position:relative;
z-index:2;
transform:translateZ(0);
}

.project-card:hover::before{
opacity:1;
animation:neonSweep 2s linear infinite;
}

@keyframes neonSweep{
0%{
background-position:-200% 0;
}
100%{
background-position:200% 0;
}
}

.featured{
display:inline-block;
background:#9d4edd;
color:white;
padding:6px 12px;
font-size:12px;
font-weight:bold;
border-radius:20px;
margin-bottom:12px;
letter-spacing:1px;
box-shadow:0 0 12px #9d4edd;
}

.project-card:first-child{
grid-column:span 2;
box-shadow:0 0 25px #9d4edd;
border:1px solid #9d4edd;
}

.project-card:first-child h3{
color:#c77dff;
font-size:24px;
}

.project-card:first-child:hover{
transform:translateY(-6px);
box-shadow:0 0 35px #c77dff;
transition:0.3s;
}

.project-card:first-child img{
height:600px;
}

.project-card img{
width:100%;
height:200px;
object-fit:cover;
object-position:center;
border-radius:5px;
margin-bottom:15px;
border:2px solid #9d4edd;
box-shadow:0 0 10px #9d4edd;
}

.project-card:hover img{
transform:scale(1.05);
}

.project-card:hover{
border:1px solid #9d4edd;
box-shadow:0 0 18px #9d4edd;
transform:translateY(-5px);
}

.project-card h3{
margin-bottom:10px;
color:#ffffff;
}

.project-card p{
font-size:14px;
margin-bottom:10px;
}

.tech{
color:#c77dff;
font-size:13px;
margin-bottom:15px;
}

.project-link{
text-decoration:none;
color:#c77dff;
border:1px solid #9d4edd;
padding:8px 14px;
border-radius:4px;
font-size:14px;
transition:0.3s;
}

.project-link:hover{
background:#9d4edd;
color:white;
box-shadow:0 0 10px #9d4edd;
}

.projects h2{
font-size:32px;
margin-bottom:30px;
color:white;
position:relative;
display:inline-block;

}

/* neon underline */
.projects h2::after{
content:"";
position:absolute;
left:0;
bottom:-8px;
width:100%;
height:4px;
background:#9d4edd;
box-shadow:0 0 10px #9d4edd;
}

/* ---------- RESUME SECTION ---------- */
.resume{
margin-top:40px;
}

.resume h2{
font-size:32px;
margin-bottom:25px;
}

.resume-card{
background:#1c2541;
padding:40px;
border-radius:8px;
border:1px solid #1c2541;
box-shadow:0 0 15px rgba(157,78,221,0.2);
}

.resume-section{
margin-bottom:30px;
}

.resume-section h3{
color:#c77dff;
margin-bottom:10px;
border-bottom:2px solid #9d4edd;
display:inline-block;
padding-bottom:4px;
}

.skills-list{
display:flex;
flex-wrap:wrap;
gap:12px;
list-style:none;
margin-top:10px;
}

.skills-list li{
background:#0b132b;
padding:8px 14px;
border-radius:6px;
border:1px solid #9d4edd;
color:#c77dff;
font-size:14px;
}

.resume-section p{
margin-bottom:8px;
color:#cbd5e1;
}

.resume h2::after{
content:"";
position:absolute;
left:0;
bottom:-8px;
width:100%;
height:4px;
background:#9d4edd;
box-shadow:0 0 10px #9d4edd;
}

.resume h2{
font-size:32px;
margin-bottom:30px;
color:white;
position:relative;
display:inline-block;
}

    /* ---------- CONTACT SECTION ---------- */
    .contact{
margin-top:40px;
text-align:center;
}

.contact h2{
font-size:32px;
margin-bottom:15px;
}

.contact-intro{
color:#cbd5e1;
margin-bottom:40px;
}

.contact-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}

.contact-card{
background:#1c2541;
padding:30px;
border-radius:8px;
border:1px solid #1c2541;
transition:0.3s;
position:relative;
overflow:hidden;

}

.contact-card img{
    width:45px;
margin-bottom:10px;
}

.contact-card::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;

background:linear-gradient(
120deg,
transparent 40%,
#c77dff 50%,
transparent 60%
);

background-size:200% 200%;
background-position:-200% 0;

opacity:0;
transition:opacity 0.3s;

pointer-events:none;
}

.contact-card:hover::before{
opacity:1;
animation:neonSweep 2s linear infinite;
}

.contact-card h3{
color:#c77dff;
}

.contact-card *{
position:relative;
z-index:2;
}

.contact-card:hover{
border:1px solid #9d4edd;
box-shadow:0 0 18px #9d4edd;
transform:translateY(-5px);
}

.contact-card a{
color:#c77dff;
text-decoration:none;
font-weight:500;
}

.contact-card a:hover{
text-decoration:underline;
}

.copy-btn{

margin-top:10px;

padding:8px 14px;

border:1px solid #9d4edd;
background:transparent;
color:#c77dff;

border-radius:5px;
cursor:pointer;

transition:0.3s;

}

.copy-btn:hover{

background:#9d4edd;
color:white;
box-shadow:0 0 10px #9d4edd;

}


#copy-status{

display:block;
margin-top:8px;

font-size:14px;
color:#c77dff;

opacity:0;
transition:opacity 0.3s;

}

/* ---------- Index Page ---------- */
.hero{
display:flex;
align-items:center;
justify-content:space-between;
gap:60px;
padding:80px 10%;
}

.hero-text{
max-width:500px;
}

.hero-text h2{
font-size:40px;
margin-bottom:10px;
}

.hero-text h3{
color:#c77dff;
margin-bottom:15px;
}

.hero-text p{
margin-bottom:25px;
}

.accent{
color:#c77dff;
text-shadow:0 0 10px #9d4edd;
}

.hero-buttons{
display:flex;
gap:15px;
}

.cta-secondary{
padding:12px 22px;
border:1px solid #9d4edd;
color:#c77dff;
text-decoration:none;
border-radius:6px;
transition:0.3s;
}

.cta-secondary:hover{
background:#9d4edd;
color:white;
}

.hero-image img{
width:300px;
border-radius:8px;
border:3px solid #9d4edd;
padding:8px;
box-shadow:0 0 20px #9d4edd;
}

.hero{
position:relative;
}

.hero::after{
content:"";
position:absolute;
width:400px;
height:400px;
background:#9d4edd;
filter:blur(120px);
opacity:0.2;
right:0;
top:50%;
transform:translateY(-50%);
}

.hero h2{
font-size:44px;
margin-bottom:10px;
}

section h2::before{
content:"";
width:16px;
height:16px;
background:#9d4edd;
border-radius:60%;

display:inline-block;
margin-right:10px;

box-shadow:0 0 10px #9d4edd;
}

.hero h3{
font-size:22px;
color:#c77dff;
margin-bottom:20px;
}
.home-project{
padding:80px 10%;
}


.featured-project-card{
display:flex;
gap:40px;
background:#1c2541;
padding:30px;
border-radius:8px;
border:1px solid #1c2541;
box-shadow:0 0 20px rgba(157,78,221,0.2);
position:relative;
overflow:hidden;

transition:0.3s;
}

.featured-project-card::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;

background:linear-gradient(
120deg,
transparent 40%,
#c77dff 50%,
transparent 60%
);

background-size:200% 200%;
background-position:-200% 0;

opacity:0;
transition:opacity 0.3s;

pointer-events:none;
}
.featured-project-card img{
transition:0.3s;
}

.featured-project-card *{
position:relative;
z-index:2;
}

.featured-project-card:hover img{
transform:scale(1.05);
}

.featured-project-card:hover::before{
opacity:1;
animation:neonSweep 2s linear infinite;
}

.featured-project-card img{
width:350px;
border-radius:6px;
border:2px solid #9d4edd;
box-shadow:0 0 12px #9d4edd;
}

.featured-text{
max-width:400px;
}

.skills-section{
padding:80px 10%;
text-align:center;
}

.skills-section h2{
font-size:32px;
margin-bottom:40px;
}

.skills-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(140px,1fr));
gap:30px;
max-width:900px;
margin:auto;
}

.skill-box{
background:#1c2541;
padding:25px;
border-radius:8px;
border:1px solid #1c2541;
transition:0.3s;
position:relative;
overflow:hidden;
}

.skill-box:hover{
border:1px solid #9d4edd;
box-shadow:0 0 18px #9d4edd;
transform:translateY(-5px);
}

.skill-box img{
width:45px;
margin-bottom:10px;
transition:transform 0.3s ease, filter 0.3s ease;
}

.skill-box:hover img{
transform:scale(1.2) rotate(5deg);
filter:drop-shadow(0 0 10px #9d4edd);
}


.skill-box::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;

background:linear-gradient(
120deg,
transparent 40%,
#c77dff 50%,
transparent 60%
);

background-size:200% 200%;
background-position:-200% 0;

opacity:0;
transition:opacity 0.3s;

pointer-events:none;
}
.skill-box:hover::before{
opacity:1;
animation:neonSweep 2s linear infinite;
}
.skill-box *{
position:relative;
z-index:2;
}

/* ---------- About Page ---------- */
.about{
padding:80px 10%;
}

.about h2{
font-size:32px;
margin-bottom:30px;
}

.about-container{
display:flex;
gap:60px;
align-items:center;
flex-wrap:wrap;
}

.about-image img{
width:280px;
border-radius:8px;
border:3px solid #9d4edd;
padding:8px;
box-shadow:0 0 18px #9d4edd;
}

.about-text{
max-width:500px;
}

.about-text p{
margin-bottom:16px;
color:#cbd5e1;
line-height:1.6;
}

.journey{
padding:60px 10%;
max-width:800px;
}

.journey h2{
margin-bottom:20px;
}


@keyframes glowDot{
0%{box-shadow:0 0 6px #9d4edd;}
50%{box-shadow:0 0 16px #c77dff;}
100%{box-shadow:0 0 6px #9d4edd;}
}

section h2::before{
animation:glowDot 2.5s infinite;
}

.cursor{
color:#c77dff;
animation:blink 1s infinite;
}

@keyframes blink{
0%{opacity:1;}
50%{opacity:0;}
100%{opacity:1;}
}

#typing-text{
color:#c77dff;
font-weight:600;
}

.hero{
position:relative;
overflow:hidden;
}

.hero-glow{
position:absolute;

width:450px;
height:450px;

background:#9d4edd;

filter:blur(140px);

opacity:0.35;

top:50%;
left:65%;

transform:translate(-50%,-50%);

animation:floatGlow 8s ease-in-out infinite;

z-index:0;
}

.hero::after{
content:"";

position:absolute;

width:400px;
height:400px;

background:#4361ee;

filter:blur(140px);

opacity:0.25;

top:40%;
left:30%;

animation:floatGlow2 10s ease-in-out infinite;

z-index:0;
}

.hero-text,
.hero-image{
position:relative;
z-index:2;
}

@keyframes floatGlow{

0%{
transform:translate(-50%,-50%) scale(1);
}

50%{
transform:translate(-48%,-52%) scale(1.1);
}

100%{
transform:translate(-50%,-50%) scale(1);
}

}

@keyframes floatGlow2{

0%{transform:translate(-50%,-50%) scale(1);}
50%{transform:translate(-52%,-48%) scale(1.15);}
100%{transform:translate(-50%,-50%) scale(1);}

}


.grid-background{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

z-index:-1;

background-color:#020617;

background-image:

linear-gradient(rgba(157,78,221,0.07) 1px, transparent 1px),
linear-gradient(90deg, rgba(157,78,221,0.07) 1px, transparent 1px);

background-size:80px 80px;



}

.grid-background::before{

content:"";

position:absolute;

top:0;
left:-200%;

width:200%;
height:100%;

background:linear-gradient(
120deg,
transparent 45%,
rgba(199,125,255,0.15) 50%,
transparent 55%
);

animation:gridSweep 12s linear infinite;

pointer-events:none;

filter:blur(25px);

}

@keyframes gridSweep{

0%{
left:-200%;
}

100%{
left:200%;
}

}

header{
position:sticky;
top:0;
z-index:1000;
}

#scroll-progress{

position:fixed;
top:0;
left:0;

height:4px;
width:0%;

background:linear-gradient(90deg,#9d4edd,#c77dff);

box-shadow:0 0 10px #9d4edd;

z-index:2000;

transition:width 0.1s;

}

/* ---------- Footer ---------- */

footer{

margin-top:80px;
padding:40px 10%;

border-top:1px solid rgba(157,78,221,0.2);

text-align:center;

background:rgba(2,6,23,0.6);
backdrop-filter:blur(8px);

}

.footer-container{

display:flex;
flex-direction:column;
gap:20px;

align-items:center;

}

.footer-logo{

font-size:20px;

background:linear-gradient(90deg,#ffffff,#c77dff);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

}

.footer-nav{

display:flex;
gap:25px;
flex-wrap:wrap;

}

.footer-nav a{

text-decoration:none;
color:white;

position:relative;

}

.footer-nav a:hover{

color:#c77dff;
text-shadow:0 0 8px #9d4edd;

}

.footer-social{

display:flex;
gap:20px;

}

.footer-social a{

color:white;
text-decoration:none;

transition:0.3s;

}

.footer-social a:hover{

color:#c77dff;
text-shadow:0 0 12px #9d4edd;

}

.footer-copy{

font-size:14px;
color:#94a3b8;

margin-top:10px;

}